# Reprovision workstation
provision () {
  cd "$HOME/Code/workstations" || exit
  ./go
  cd - || exit
  exec "${SHELL}" -l
}

# Create a new directory and enter it
mkd () {
	mkdir -p "$@" && cd "$_" || exit;
}

# Determine size of a file or total size of a directory
fs () {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	# shellcheck disable=SC2199
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
tre () {
	tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}

# Sign in to 1Password
op-signin () {
  eval "$(op signin --account my.1password.com)"
}
