[core]
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
  pager = delta
[branch]
  sort = -committerdate
[init]
  defaultBranch = main
[delta]
  navigate = true
  side-by-side = true
  syntax-theme = Monokai Extended
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[interactive]
  diffFilter = delta --color-only
[color]
	ui = auto
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
	newMoved = cyan dim
	oldMoved = blue dim
	newMovedAlternative = cyan italic
	oldMovedAlternative = blue italic
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "diff-highlight"]  # mostly dead. only needed when using diff-so-fancy
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
