[core]
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
  pager = delta
[branch]
  sort = -committerdate
[init]
  defaultBranch = main
[delta]
  navigate = true
  side-by-side = true
  syntax-theme = Monokai Extended
[multi]
  groupbyoutput = 1
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[interactive]
  diffFilter = delta --color-only
[color]
	ui = auto
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
